<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="3.1.2" targetFramework="net452" />
  <package id="GDataDB" version="0.5.0.0" targetFramework="net452" />
  <package id="GDataDB.Linq" version="0.5.0.0" targetFramework="net452" />
  <package id="Google.Apis" version="1.32.2" targetFramework="net452" />
  <package id="Google.Apis.Auth" version="1.32.2" targetFramework="net452" />
  <package id="Google.Apis.Core" version="1.32.2" targetFramework="net452" />
  <package id="Google.Apis.Drive.v3" version="1.32.2.1142" targetFramework="net452" />
  <package id="Google.GData.AccessControl" version="2.2.0.0" targetFramework="net452" />
  <package id="Google.GData.Client" version="2.2.0.0" targetFramework="net452" />
  <package id="Google.GData.Contacts" version="2.2.0.0" targetFramework="net452" />
  <package id="Google.GData.Documents" version="2.2.0.0" targetFramework="net452" />
  <package id="Google.GData.Extensions" version="2.2.0.0" targetFramework="net452" />
  <package id="Google.GData.Spreadsheets" version="2.2.0.0" targetFramework="net452" />
  <package id="Google.GData.WebmasterTools" version="2.2.0.0" targetFramework="net452" />
  <package id="GoogleDriveExplorer.Core" version="1.0.0" targetFramework="net452" />
  <package id="HelperSharp" version="0.0.2.9" targetFramework="net452" />
  <package id="log4net" version="2.0.0" targetFramework="net452" />
  <package id="Mail.dll" version="3.0.18026.1647" targetFramework="net452" />
  <package id="MailClient" version="1.0.13" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights" version="2.0.0" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.Agent.Intercept" version="1.2.1" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.DependencyCollector" version="2.0.0" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.JavaScript" version="0.22.9-build00167" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.PerfCounterCollector" version="2.0.0" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.Web" version="2.0.0" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.WindowsServer" version="2.0.0" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel" version="2.0.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net452" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net452" />
  <package id="NUnit" version="2.6.2" targetFramework="net452" />
  <package id="OpenPop" version="2.0.6.1" targetFramework="net452" />
  <package id="OpenPop.NET" version="2.0.6.1120" targetFramework="net452" />
  <package id="Pop3" version="2.2.0" targetFramework="net452" />
  <package id="Pop3Client" version="3.0.6474.16527" targetFramework="net452" />
  <package id="PopOpen" version="0.9.1.0" targetFramework="net452" />
  <package id="PostalCodes" version="2.1.0.194" targetFramework="net452" />
  <package id="PostcodeApi" version="1.0.0" targetFramework="net452" />
  <package id="PostcodeNLDataAPI" version="1.0.0.23" targetFramework="net452" />
  <package id="Skahal.Infrastructure.Framework" version="0.5.9" targetFramework="net452" />
  <package id="Skahal.Infrastructure.Repositories.GData" version="0.1.1" targetFramework="net452" />
  <package id="System.IO.Abstractions" version="1.4.0.66" targetFramework="net452" />
  <package id="System.Net.Http" version="4.3.1" targetFramework="net452" />
  <package id="System.Net.Pop3" version="0.1.4" targetFramework="net452" />
</packages>