<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="usingwebservices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-usingwebservices-20170323091037;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-usingwebservices-20170323091037.mdf" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <applicationSettings>
    <usingwebservices.Properties.Settings>
      <setting name="usingwebservices_localhost_WeatherService" serializeAs="String">
        <value>http://localhost:53409/WeatherService.asmx</value>
      </setting>
    </usingwebservices.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WeatherServiceSoap" />
        <binding name="AreaUnitSoap" />
        <binding name="ComputerUnitSoap" />
        <binding name="CurrencyConvertorSoap" />
        <binding name="GlobalWeatherSoap" />
        <binding name="CurrencyServiceSoap" />
        <binding name="CurrencyServerSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="AreaUnitSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="ComputerUnitSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CurrencyConvertorSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="GlobalWeatherSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CurrencyServerSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://www.webservicex.net/ConvertArea.asmx"
        binding="basicHttpBinding" bindingConfiguration="AreaUnitSoap"
        contract="ConvertArea.AreaUnitSoap" name="AreaUnitSoap" />
      <endpoint address="http://www.webservicex.net/ConvertComputer.asmx"
        binding="basicHttpBinding" bindingConfiguration="ComputerUnitSoap"
        contract="ConvertComputer.ComputerUnitSoap" name="ComputerUnitSoap" />
      <endpoint address="http://localhost:53409/WeatherService.asmx"
        binding="basicHttpBinding" bindingConfiguration="WeatherServiceSoap"
        contract="Weather.WeatherServiceSoap" name="WeatherServiceSoap" />
      <endpoint address="http://www.webservicex.net/CurrencyConvertor.asmx"
        binding="basicHttpBinding" bindingConfiguration="CurrencyConvertorSoap"
        contract="CurrencyConvertor.CurrencyConvertorSoap" name="CurrencyConvertorSoap" />
      <endpoint address="http://www.webservicex.net/globalweather.asmx"
        binding="basicHttpBinding" bindingConfiguration="GlobalWeatherSoap"
        contract="GlobalWeather.GlobalWeatherSoap" name="GlobalWeatherSoap" />
      <endpoint address="http://localhost:53409/CurrencyService.asmx"
        binding="basicHttpBinding" bindingConfiguration="CurrencyServiceSoap"
        contract="Currency.CurrencyServiceSoap" name="CurrencyServiceSoap" />
      <endpoint address="http://fx.currencysystem.com/webservices/CurrencyServer4.asmx"
        binding="basicHttpBinding" bindingConfiguration="CurrencyServerSoap"
        contract="CurrencySystemService.CurrencyServerSoap" name="CurrencyServerSoap" />
    </client>
  </system.serviceModel>
</configuration>